/* CitySearch Component */
#city-search {
  position: relative;
  margin-bottom: 1rem;
  text-align: center;
}

.city {
  width: 100%;
  max-width: 400px;
  padding: 0.5rem;
  margin: 0 auto;
  display: inline-block;
  font-size: 1rem;
  border: 1px solid #777;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  outline: none;
}

.city:focus {
  border-color: #77c;
}

ul.suggestions {
  width: 100%;
  max-width: 400px;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  background-color: #333;
  border: 1px solid #777;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
}

ul.suggestions li {
  padding: 0.5rem;
  cursor: pointer;
}

ul.suggestions li:hover {
  background-color: #555;
}

#subheader {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}
