/* NumberOfEvents Component */
#number-of-events-container {
  margin-bottom: 1rem;
  text-align: center;
}

#number-of-events {
  width: 100%;
  max-width: 400px;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #777;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  outline: none;
  margin: 0 auto;
  display: inline-block;
}

#number-of-events label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

#number-of-events:focus {
  border-color: #77c;
}
