/* App Component */

body {
  background-color: #222;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  box-sizing: border-box; /* This ensures padding is included in the width */
  margin-bottom: 1rem;
}

.App {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

#title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 250px;
  z-index: 1000;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  max-width: 500px; /* This limits the max size on large screens */
  padding: 1rem; /* Padding for smaller screens */
}

.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .charts-container {
    grid-template-columns: 1fr;
  }
  .input-container {
    padding: 0rem;
  }
}

@media (max-width: 480px) {
  .App {
    padding: 1rem;
  }
}
