/* App Component */

body {
  background-color: #222;
  color: #fff;
  font-family: Arial, sans-serif;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

#title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
